/*---------------------------------- taquilla ---------------------------------- */

.custom-yellow {
    background-color: #f4f800 !important;
}

.custom-green {
    background-color: #58ff60 !important;
}

.btn.custom-green {
    background-color: #58ff60 !important;
    border-color: #58ff60 !important;
    color: black !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

.modal-content-custom {
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    background-color: #f5f5f5;
}

/*---------------------------------- formulario de datos ---------------------------------- */
.section-box {
    border: 2px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.react-calendar__tile.ocupada {
    background: #dc3545 !important;
    color: white !important;
    pointer-events: none;
    opacity: 0.7;
}

.react-calendar__tile.seleccionada {
    background: #ffc107 !important;
    color: black;
}

.react-calendar__tile.fijada {
    background: #0d6efd !important;
    color: white;
}

body {
    background: linear-gradient(to bottom, #ffffff, #CEEBBD);
  }

.logo-zigzag {
    height: 70px;
    width: auto;
}

/*---------------------------------- Lista Eventos ---------------------------------- */
.eventos-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.eventos-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #33a532;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.logo {
  height: 60px;
}

.reservas-link {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.agregar-evento {
  text-align: right;
  margin: 10px 0;
}

.evento-card {
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.evento-banner {
  flex: 1;
}

.imagenes-banner img {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 4px;
}

.evento-descripcion {
  flex: 2;
  padding-left: 20px;
}

.editar-evento {
  position: absolute;
  top: 10px;
  right: 15px;
}

.disfrutar {
  font-weight: bold;
  margin-top: 10px;
}

.descripcion {
  font-size: 14px;
  color: #333;
}

.duracion {
  margin-top: 10px;
  font-size: 13px;
}

/*---------------------------------- Eventos Visitantes ---------------------------------- */
.eventos-container.azul {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.eventos-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
}

.eventos-header.azul {
  display: flex;
  background-color: #0b5ed7; /* Azul */
  
}

.logo {
  height: 60px;
}

.evento-card {
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.evento-banner {
  flex: 1;
}

.imagenes-banner img {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 4px;
  border: 2px solid transparent;
}

.imagenes-banner img:first-child {
  border: 2px solid #0b5ed7; /* borde azul para banner principal */
}

.evento-descripcion {
  flex: 2;
  padding-left: 20px;
}

.seleccionar-evento {
  position: absolute;
  top: 10px;
  right: 15px;
}

.disfrutar {
  font-weight: bold;
  margin-top: 10px;
}

.descripcion {
  font-size: 14px;
  color: #333;
}

.duracion {
  margin-top: 10px;
  font-size: 13px;
}

/*---------------------------------- Eventos Descripción ---------------------------------- */
.evento-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  background-color: #0b53c1;
  color: white;
  padding: 10px;
}

.evento-card {
  background-color: #eee;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.evento-info {
  display: flex;
  justify-content: space-between;
}

.evento-imagenes {
  width: 40%;
}

.imagenes-grid {
  display: flex;
  gap: 10px;
}

.img-placeholder {
  width: 150px;
  height: 100px;
  background-color: #ccc;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.img-small-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-placeholder.small {
  width: 80px;
  height: 45px;
}

.evento-detalles {
  width: 55%;
}

.formulario {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.boletos-group {
  display: flex;
  gap: 10px;
}

.form-group.double {
  display: flex;
  justify-content: space-between;
}

.form-group.double > div {
  width: 48%;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.boton {
  background-color: #ccc;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}


/*---------------------------------- Reservas Generales ---------------------------------- */
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.btn-pendiente {
    background-color: #FFE551;
    color: white;
    transition: all 0.3s ease;
}

.btn-pendiente:hover {
    background-color: #e6c200;
    /* Cambia el fondo al pasar el mouse */
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: #FFE551;
    color: #cfa800;
    ;
}

.btn-aprobada {
    background-color: #2ABC00;
    color: white;
    transition: all 0.3s ease;
}

.btn-aprobada:hover {
    background-color: #24A000;
    /* Cambia el fondo al pasar el mouse */
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: #32D901;
    color: #12a802;
    ;
}

.btn-rechazada {
    background-color: #ff1e1e;
    color: white;
    transition: all 0.3s ease;
}

.btn-rechazada:hover {
    background-color: #c71616;
    /* Cambia el fondo al pasar el mouse */
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: #a90000;
    color: #960505;
    ;
}