/* Pie de pagina */

.pie-pagina {
  background-color: #f8f9fa;
  color: #212529;
  /* Texto oscuro */
  padding: 16px 24px;
  width: 100%;
  border-top: 1px solid #dee2e6;
  font-size: 0.9rem;
}

.pie-contenido {
  max-width: 1200px; /* evita que quede estirado en pantallas muy grandes */
  margin: 0 auto; /* centra el contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pie-logo-texto {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.pie-logo {
  height: 40px;
  margin-right: 10px;
}

.pie-derechos {
  font-size: 0.85rem;
}

.pie-enlaces {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.pie-enlaces a {
  text-decoration: none;
  color: #212529;
  transition: color 0.3s;
}

.pie-enlaces a:hover {
  color: #0d6efd;
  /* Azul Bootstrap */
}

.pie-equipo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}
.pie-equipo h4 {
  margin: 0;
  font-size: 1rem;
}

.pie-equipo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pie-equipo li {
  font-size: 0.85rem;
}

/* Responsivo en pantallas medianas y grandes */
@media (min-width: 768px) {
  .pie-contenido {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .pie-logo-texto {
    margin-bottom: 0;
  }

  .pie-enlaces {
    justify-content: flex-end;
  }
  .pie-equipo {
    text-align: left;
  }
}