/*---------------------------------- taquilla ---------------------------------- */

.custom-yellow {
  background-color: #f4f800 !important;
}

.custom-green {
  background-color: #58ff60 !important;
}

.btn.custom-green {
  background-color: #58ff60 !important;
  border-color: #58ff60 !important;
  color: black !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.modal-content-custom {
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  background-color: #f5f5f5;
}

.btn-nav {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1));
}

.btn-nav:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
}